* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #191825;
    text-align: center; 
}
h1 {
    color: #E384FF;
    text-align: center;
    font-size: 50px;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game {
   
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}
.box {
    height: 18vh;
    width: 18vh;
    font-size: 40px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 0px 30px 10px rgba(255, 255, 150, 0.6);
}

#reset {
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 10px 1px; 
}
